<h1>My Tasks</h1>

<% if @tasks.empty? %>
  <h2>No tasks to display :)</h2>
<% else %>
  <ul>
    <% @tasks.each do |task| %>
      <div class="task">
          <%= task.completed ? '☑' : '☐' %>
          <li><%= link_to task.title, task_path(task) %> | </li>
          <%= link_to 'delete', task_path(task),
              method: :delete,
              data: { confirm: "are u sure" } %>
      </div>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Add a new task', new_task_path %>
