// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task {
  display: flex;
  list-style-type: none;
}

a {
    text-decoration: none;
}
